@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #f5f4f4;
    --Text: #1a202c;
}
[data-theme="Mirage"] {
    --Color-50: #f5f7fa;
    --Color-100: #eaedf4;
    --Color-200: #d1d9e6;
    --Color-300: #a8b9d1;
    --Color-400: #7993b7;
    --Color-500: #58769f;
    --Color-600: #455e84;
    --Color-700: #394c6b;
    --Color-800: #32415a;
    --Color-900: #2d384d;
    --Color-950: #1a202c;
}
[data-theme="WildBlueYonder"] {
    --Color-50: #f4f5f9;
    --Color-100: #eaeef5;
    --Color-200: #d9deec;
    --Color-300: #c1c9e0;
    --Color-400: #a8add1;
    --Color-500: #9195c3;
    --Color-600: #8585b8;
    --Color-700: #68679b;
    --Color-800: #56557e;
    --Color-900: #494a66;
    --Color-950: #2b2b3b;
}
[data-theme="WaterLeaf"] {
    --Color-50: #f2fbf8;
    --Color-100: #d4f3e9;
    --Color-200: #9de3ce;
    --Color-300: #76d2ba;
    --Color-400: #49b89e;
    --Color-500: #309c85;
    --Color-600: #247d6c;
    --Color-700: #206558;
    --Color-800: #1e5149;
    --Color-900: #1d443d;
    --Color-950: #0b2824;
}
[data-theme="LavenderPurple"] {
    --Color-50: #f9f7fb;
    --Color-100: #f3f1f6;
    --Color-200: #e7e5ef;
    --Color-300: #d6cfe3;
    --Color-400: #bfb3d2;
    --Color-500: #a794be;
    --Color-600: #957dad;
    --Color-700: #816899;
    --Color-800: #6c5780;
    --Color-900: #594969;
    --Color-950: #3a2f46;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #1d1b1b;
        --Text: #f5f4f4;
    }
    [data-theme="Mirage"] {
        --Color-50: #f5f7fa;
        --Color-100: #eaedf4;
        --Color-200: #d1d9e6;
        --Color-300: #a8b9d1;
        --Color-400: #7993b7;
        --Color-500: #58769f;
        --Color-600: #455e84;
        --Color-700: #394c6b;
        --Color-800: #32415a;
        --Color-900: #2d384d;
        --Color-950: #1a202c;
    }
    [data-theme="WildBlueYonder"] {
        --Color-50: #f4f5f9;
        --Color-100: #eaeef5;
        --Color-200: #d9deec;
        --Color-300: #c1c9e0;
        --Color-400: #a8add1;
        --Color-500: #9195c3;
        --Color-600: #8585b8;
        --Color-700: #68679b;
        --Color-800: #56557e;
        --Color-900: #494a66;
        --Color-950: #2b2b3b;
    }
    [data-theme="WaterLeaf"] {
        --Color-50: #f2fbf8;
        --Color-100: #d4f3e9;
        --Color-200: #9de3ce;
        --Color-300: #76d2ba;
        --Color-400: #49b89e;
        --Color-500: #309c85;
        --Color-600: #247d6c;
        --Color-700: #206558;
        --Color-800: #1e5149;
        --Color-900: #1d443d;
        --Color-950: #0b2824;
    }
    [data-theme="LavenderPurple"] {
        --Color-50: #f9f7fb;
        --Color-100: #f3f1f6;
        --Color-200: #e7e5ef;
        --Color-300: #d6cfe3;
        --Color-400: #bfb3d2;
        --Color-500: #a794be;
        --Color-600: #957dad;
        --Color-700: #816899;
        --Color-800: #6c5780;
        --Color-900: #594969;
        --Color-950: #3a2f46;
    }
}

* {
    min-width: 0;
}
